@use './tokens/variables' as *;

:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: $color-primary;
  background-color: $bg-deep;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3 {
  letter-spacing: $letter-spacing-header;
  color: #fff;
}
