@use './styles/tokens/variables' as *;
@use './styles/tokens/mixins' as *;

.app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  &__card {
    padding: 2em;
    @include glass; // Using mixin
    border-radius: 12px;
    margin-top: $space-l;
  }

  &__button {
    background-color: transparent;
    border: 1px solid $color-action;
    color: $color-action;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color $transition-base;
    @include mobile-touch-target;

    &:hover {
      background-color : rgba($color-action, 0.1);
    }
  }
}
